@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "prompt-extralight", sans-serif;
    margin: 0;
    padding: 0;
}

body {
        font-family: "Prompt", sans-serif;
        background-color: #d8bc9b;
        margin: 0;
        padding: 0;
    }

    /* Navbar */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        padding: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }

    .navbar a {
        color: white;
        text-decoration: none;
    }

    .navbar .active {
        border-bottom: 3px solid white;
        padding-bottom: 5px;
    }

    /* กล่องฟอร์ม */
    .form-container {
        background: white;
        width: 92%;
        margin: 20px auto;
        border: 3px solid #7e50c8;
        border-radius: 6px;
        padding: 40px;
        box-sizing: border-box;
    }

    h2 {
        text-align: center;
        margin-top: 0;
        font-size: 28px;
    }

    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin-top: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 6px;
        font-weight: 600;
    }

    input, select {
        padding: 10px;
        border-radius: 6px;
        border: none;
        background: #f1f1e9;
        font-size: 16px;
    }

    /* ปุ่มเพิ่มลดราคา */
    .submit-btn {
        background-color: #69c84c;
        color: white;
        padding: 12px 25px;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 25px;
        display: block;
        margin-left: auto;
    }

    /* ปุ่มล่าง 3 ปุ่ม */
    .bottom-menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 40px 0;
    }

    .menu-btn {
        background-color: white;
        border: none;
        padding: 18px 40px;
        border-radius: 45px;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
        transition: 0.2s;
    }

    .menu-btn:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
    }